@font-face {
    font-family: "BEYNO";
    src: url(../fonts/BEYNO.ttf) format("truetype");
}

@font-face {
    font-family: "Cantarell";
    src: url(../fonts/Cantarell-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Panthera";
    src: url(../fonts/PantheraRegular-MVZ9J.ttf) format("truetype");
}

@font-face {
    font-family: "Wakanda Forever";
    src: url(../fonts/WakandaForever-Regular.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-family: "BEYNO";
    font-size: 18px;
}

p {
    font-family: "Cantarell";
    font-size: 12px;
    font-weight: normal;
}

.voir-plus {
    text-decoration: none;
    color: white;
    border-bottom: solid 1px;
    font-family: "Cantarell";
    margin-top: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

body {
    background-image: url(../all-pages/arrière_plan.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    color: white;
}

/* Design de la navigation */

.container1 {
    width: 85%;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

nav img {
    transform: scale(0.8);
}

nav img:hover {
    -webkit-filter: invert(70%) sepia(87%) saturate(3034%) hue-rotate(245deg) brightness(95%) contrast(93%);
    filter: invert(70%) sepia(87%) saturate(3034%) hue-rotate(245deg) brightness(95%) contrast(93%);
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    column-gap: 60px;
}

nav ul a {
    color: white;
    font-family: "BEYNO";
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
}

.active {
    color: #9E91B7;
    border-bottom: solid 1px #9E91B7;
}

nav ul a:hover {
    color: white;
    border-bottom: solid 1px white;
}


/* Design Wakanda Forever */

#wakanda {
    background-image: url(../wakanda/Pantherwakanda1.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    top: 100px;
}

#wakanda h1 {
    color: #9E91B7;
    font-family: "BEYNO";
    font-size: 68px;
    font-weight: normal;
    padding-top: 300px;
}

#wakanda h2 {
    font-family: "Wakanda Forever";
    font-size: 43px;
    color: #9E91B7;
    margin-top: 10px;
    margin-bottom: 30px;

}

#wakanda .content {
    width: 36%;
    text-align: justify;
}

/* Design Description */

#description .container {
    background-image: url(../wakanda/Pantherwakanda2.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 800px;
}

#description .container {
    display: flex;
    flex-direction: row;
    column-gap: 100px;
    text-align: justify;
}

#description h2 {
    color: #9E91B7;
    padding-top: 30px;
}

#description p {
    padding-top: 20px;
}

.colonne-left {
    padding-top: 100px;
}

.colonne-right {
    padding-top: 100px;
    width: 50%;
}

.colonne-right img {
    width: 550px;
}

.colonne-right ul {
    display: flex;
    flex-direction: column;
}

.colonne-right li::before {
    content: "—";
}

/* Design footer*/
footer {
    background-image: url(../all-pages/back_footer.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: absolute;
    top: 2500px;
    height: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.divfooter{
    background-image: url(../all-pages/footer1.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width:350px;
    padding: auto;
    margin-top: 100px;  
    margin-right: 5%;
    min-width: 200px;
    max-width: 350px;
  }

  .divfooter:hover{
    transform:scale(1.1);
  }


  .imgfooterlogo{
    margin: 48px;
    display: flex;
    position: relative;
    top: 30%;
    width: 50%;

  }

  .border{
    border: 1px solid white;
  }

  .titrefooter{
    letter-spacing: 0.28em;
    font-size: 22px;
    margin-bottom: 30px;
  }

  .footerdisposition{
    display: flex;
    justify-content: space-between;
  }

  .footermenu{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom:100px;
 }

 .soulignement:hover {
    color: white;
    border-bottom: solid 1px white;
}

 .footermenu a {
    text-decoration: none;
    color: white;
 }

.reseauxsociauxfooter{
    width:35px;
    margin-right: 30px;
}

.reseauxsociauxfooter:hover{
    transform:scale(1.2);
}


.ulfooter{
    font-family: 'cantarell';
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.ulfooter li::before {
    content: "🟣";
    color: #F2CEF2;
    margin-right: 10px;
    height: 20px;
}

